# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# elpa
elpa/

# cache
cache/

# other file
.DS_Store
var/
*bookmarks*
projectile.cache
recentf
eshell/
.mc-lists.el
url/
transient/
viper
.lsp-session-v1
.dap-breakpoints
